# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers d’environnement
.env

# Cache et logs
/var/
/vendor/
/node_modules/
/public/build/
/public/bundles/
/public/uploads/
/cache/
/logs/

# IDEs
.vscode/
.idea/

# Tests
phpunit.xml
phpunit.result.cache

# Migrations générées (si tu veux les exclure)
#migrations/