# Fichiers système
.DS_Store
Thumbs.db

# MAMP ou autres environnements locaux
tmp/
logs/
*.log

# Node (si tu utilises npm ou vite)
node_modules/

# Composer
/vendor/
/composer.lock

# Fichiers sensibles
.env
.env.local
.env.*

# Cache d'éditeurs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Autres fichiers temporaires
*.bak
*.tmp
*.swp
*.orig

# Systèmes Unix / macOS
*.~undo-tree~
*~

# fichiers upload temporaires
uploads_tmp/