### Symfony ###
/vendor/
/var/
.env
.env.local
.env.*.local
.env.test
/.phpunit.result.cache
/phpunit.xml
/phpunit.xml.dist

/var/cache/
/var/log/
/var/sessions/
/var/routes/

### Fichiers système ###
.DS_Store
Thumbs.db

### IDEs / éditeurs ###
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

### Node/npm ###
node_modules/
build/
dist/

### Logs, cache, temp ###
*.log
*.cache
*.tmp
*.bak

### Docker ###
docker-compose.override.yml
compose.override.yaml
compose.yaml
etc/
mysql/
mongodb/
web/
php/php.ini

### Uploads ###
app/public/uploads/images/

### Webpack / Symfony UX ###
/public/bundles/

### Secrets Symfony ###
/config/secrets/prod/prod.decrypt.private.php.env
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
